.section {
  padding: 50px 0;
  min-height: 100vh;

  &.bg {
    background-color: #deebef;
  }

  &__title {
    position: relative;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    font-weight: bold;

    &__underline {
      position: absolute;
      width: 100px;
      height: 3px;
      background-color: $primary-color;
      left: 0;
      bottom: 0;
    }
  }

  .content {
    .bio-data {
      list-style: none;
      padding-left: 0;
      columns: 2;

      li {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        letter-spacing: 0.5px;

        .bi {
          color: $primary-color;
          margin-right: 0.4rem;
          font-weight: bold;
        }

        .label {
          font-weight: bold;
        }
      }
    }
  }
}
