#home {
  height: 100vh;
  background-image: url("../img/intro-bg.jpg");
  background-position: left bottom;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  padding-left: 10%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .content {
    z-index: 9;
    color: $primary-color;
    .name {
      font-size: 2.5rem;

      .designation {
        font-weight: 100;
        font-size: 2rem;
      }
    }

    .skill {
      font-size: 2rem;
      color: #fff;
      font-weight: 100;
      display: flex;
      align-items: center;
      overflow: hidden;

      &__text {
        font-weight: 600;
        height: 50px;

        & div {
          height: 50px;
          padding: 2px 10px;
          margin-bottom: 50px;
          box-sizing: border-box;
        }
      }

      &__one {
        animation: slide 12s linear infinite;
      }

      @keyframes slide {
        0% {
          margin-top: -500px;
        }
        5% {
          margin-top: -400px;
        }
        20% {
          margin-top: -400px;
        }
        25% {
          margin-top: -300px;
        }
        50% {
          margin-top: -300px;
        }
        55% {
          margin-top: -200px;
        }
        70% {
          margin-top: -200px;
        }
        75% {
          margin-top: -100px;
        }
        85% {
          margin-top: -100px;
        }
        90% {
          margin-top: 0;
        }
        100% {
          margin-top: 0;
        }
      }
    }

    .go-portfolio {
      position: absolute;
      margin: 0 auto;
      bottom: 1rem;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 26px;

      a {
        color: #fff;
        font-weight: 100;
      }

      .scroll-down-link {
        position: absolute;
        z-index: 100;
        cursor: pointer;
        height: 30px;
        width: 60px;
        margin: 0px 0 60px -25px;
        line-height: 60px;
        left: 50%;
        bottom: 10px;
        color: #fff;
        text-align: center;
        font-size: 34px;
        text-decoration: none;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        -webkit-animation: fade_move_down 2s ease-in-out infinite;
        -moz-animation: fade_move_down 2s ease-in-out infinite;
        animation: fade_move_down 2s ease-in-out infinite;
        /*animated scroll arrow animation*/
        @-webkit-keyframes fade_move_down {
          0% {
            -webkit-transform: translate(0, -20px);
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            -webkit-transform: translate(0, 20px);
            opacity: 0;
          }
        }
        @-moz-keyframes fade_move_down {
          0% {
            -moz-transform: translate(0, -20px);
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            -moz-transform: translate(0, 20px);
            opacity: 0;
          }
        }
        @keyframes fade_move_down {
          0% {
            transform: translate(0, -20px);
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            transform: translate(0, 20px);
            opacity: 0;
          }
        }
      }
    }
  }
}
