#portfolio {
  &__list {
    .filter {
      display: flex;

      .categories {
        display: inline-flex;
        list-style: none;
        column-gap: 2rem;
        justify-content: center;
        background: #fff;
        margin: 0 auto;
        padding: 0.5rem 2rem;
        border-radius: 100px;

        .category-btn {
          font-weight: 500;
          color: #333;
          text-transform: uppercase;
          border: none;
          background-color: transparent;

          &.active {
            color: $primary-color;
          }
        }
      }
    }

    .blocks {
      .website {
        height: 250px;
        overflow: hidden;
        border-radius: 0.5rem;
        position: relative;
        margin-bottom: 2rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        @include transition-ease;

        .actions {
          position: absolute;
          background-color: rgba($secondary-color, 0.8);
          left: 0;
          bottom: 0;
          transform: translateY(50px);
          display: flex;
          width: 100%;
          @include transition-ease;

          .link {
            flex: 1;
            color: #fff;
            font-size: 2rem;
            text-align: center;
            cursor: pointer;
            @include transition-ease;

            &:first-child {
              border-right: 1px solid $secondary-color;
            }

            &:hover {
              background-color: $secondary-color;
            }
          }
        }

        &:hover {
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
          .actions {
            bottom: 0;
            transform: translateY(0);
          }

          img {
            bottom: 0 !important;
          }
        }

        img {
          position: absolute;
          transition: all 7s ease;
        }
      }
    }
  }

  #portfolioModal {
    .modal-body {
      .portfolio-image {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        border: 1px solid #dee2e6;
        border-radius: 5px;
        overflow: hidden;
      }

      .info {
        .title {
          font-size: 1.6rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid #efefef;
          margin-bottom: 1rem;
        }

        .portfolio-content {
          p {
            margin-bottom: 10px;
            text-align: left;

            a {
              color: $primary-color;
            }
          }
          .bottom {
            .title {
              margin-top: 2rem;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  #load-all {
    width: 270px;
    margin: 0 auto;
  }
}
