* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary-color: #149ddd;
$secondary-color: #0086c5;

.color-primary {
  color: $secondary-color;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  text-align: justify;
}

.container {
  padding: 0 1.5rem;
}

.btn-primary {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn:first-child:active {
  background-color: $primary-color;
  border-color: $primary-color;
}

.form-control {
  border-color: #bdbdbd;

  &:focus {
    border-color: rgba($primary-color, 0.6);
  }

  &::placeholder {
    color: #bdbdbd;
  }
}
