* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$primary-color: #149ddd;
$secondary-color: #0086c5;

.color-primary {
  color: $secondary-color;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  text-align: justify;
}

.container {
  padding: 0 1.5rem;
}
