// Checkout
.aside {
  height: 100%;
  width: 280px;

  &__container {
    height: 100%;
    background-color: #040b14;

    hr {
      border-color: #585858;
    }
  }

  &__profile-img {
    width: 50%;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 0.7rem;
  }

  &__profile-title {
    opacity: 0.8;
    letter-spacing: 0.4px;
    // font-weight: 100;
  }

  .nav {
    &.nav-pills {
      justify-content: space-around;
      display: flex;
      flex: 1;
    }
    li {
      font-size: 1rem;
      margin: 0.2rem 0;
      letter-spacing: 0.7px;

      .nav-link {
        opacity: 0.6;
        padding-top: 0;
        padding-bottom: 0;
        background: transparent;
        @include transition-ease;
      }

      &:hover {
        font-size: 1.1rem;

        .nav-link {
          opacity: 1;
        }

        .bi {
          @include transition-ease;
        }
      }

      &.active .nav-link {
        font-size: 1.1rem;
        background: transparent;
        opacity: 1;

        .bi {
          color: $primary-color;
        }
      }

      .bi {
        font-size: 1.3rem;
        margin-right: 0.4rem;
      }
    }
  }

  .social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    column-gap: 1rem;

    a {
      background: rgba(255, 255, 255, 0.2);
      width: 2.3rem;
      height: 2.3rem;
      padding: 5px;
      border-radius: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .bi {
        color: #fff;
      }
    }

    .linkedin {
      a:hover {
        background: #0072b1;
      }
    }
    .github {
      a:hover {
        background: #4078c0;
      }
    }
  }
}
