* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.aside {
  height: 100%;
  width: 280px;
}
.aside__container {
  height: 100%;
  background-color: #040b14;
}
.aside__container hr {
  border-color: #585858;
}
.aside__profile-img {
  width: 50%;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 0.7rem;
}
.aside__profile-title {
  opacity: 0.8;
  letter-spacing: 0.4px;
}
.aside .nav li {
  font-size: 1rem;
  margin: 0.2rem 0;
  letter-spacing: 0.7px;
}
.aside .nav li .nav-link {
  opacity: 0.6;
  transition: all 0.4s ease-in-out;
  background: transparent;
}
.aside .nav li:hover {
  font-size: 1.1rem;
}
.aside .nav li:hover .nav-link {
  opacity: 1;
}
.aside .nav li:hover .bi {
  transition: all 0.4s ease-in-out;
}
.aside .nav li.active .nav-link {
  font-size: 1.1rem;
  background: transparent;
  opacity: 1;
}
.aside .nav li.active .nav-link .bi {
  color: #0d6efd;
}
.aside .nav li .bi {
  font-size: 1.3rem;
  margin-right: 0.4rem;
}
.aside .social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.aside .social-icons a {
  background: rgba(255, 255, 255, 0.2);
  width: 2.3rem;
  height: 2.3rem;
  padding: 5px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.aside .social-icons a .bi {
  color: #fff;
}
.aside .social-icons .linkedin a:hover {
  background: #0072b1;
}
.aside .social-icons .github a:hover {
  background: #4078c0;
}

.main {
  margin-left: 280px;
}

.navbar {
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 9999;
}
.navbar #navbarSideCollapse {
  background-color: #0d6efd;
  padding: 10px;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  position: relative;
}
.navbar #navbarSideCollapse:focus {
  box-shadow: none;
}
.navbar #navbarSideCollapse .bi {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar #navbarSideCollapse .bi-x {
  font-size: 30px;
}

#home {
  height: 100vh;
  background-image: url("../img/intro-bg.jpg");
  background-position: center bottom;
  display: flex;
  align-items: center;
  padding-left: 10%;
}
#home::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#home .content {
  z-index: 9;
  color: #3f8cff;
}
#home .content .name {
  font-size: 2.5rem;
}
#home .content .name .designation {
  font-weight: 100;
  font-size: 2rem;
  color: #3f8cff;
}
#home .content .skill {
  font-size: 2rem;
  color: #fff;
  font-weight: 100;
  display: flex;
  align-items: center;
  overflow: hidden;
}
#home .content .skill__text {
  font-weight: 600;
  height: 50px;
}
#home .content .skill__text div {
  height: 50px;
  padding: 2px 10px;
  margin-bottom: 50px;
  box-sizing: border-box;
}
#home .content .skill__one {
  animation: slide 12s linear infinite;
}
@keyframes slide {
  0% {
    margin-top: -500px;
  }
  5% {
    margin-top: -400px;
  }
  20% {
    margin-top: -400px;
  }
  25% {
    margin-top: -300px;
  }
  50% {
    margin-top: -300px;
  }
  55% {
    margin-top: -200px;
  }
  70% {
    margin-top: -200px;
  }
  75% {
    margin-top: -100px;
  }
  85% {
    margin-top: -100px;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .aside {
    position: absolute;
    left: -300px;
    transition: all 0.4s ease-in-out;
  }
  .aside.open {
    left: 0;
    position: fixed;
  }
  .main {
    margin-left: 0;
  }
  #home {
    padding: 7%;
  }
  #home .content .skill {
    flex-direction: column;
    align-items: start;
  }
  #home .content .skill__text {
    overflow: hidden;
  }
  #home .content .skill__text div {
    padding: 0;
  }
}
@media screen and (max-width: 991px) {
  .aside {
    position: absolute;
    left: -300px;
    transition: all 0.4s ease-in-out;
  }
  .aside.open {
    left: 0;
    position: fixed;
  }
  .main {
    margin-left: 0;
  }
}/*# sourceMappingURL=main.css.map */